*.env
*.terraform
*.tfstate
*.tfstate.backup
*.log
terraform-provider-proxmox/
*.info
.DS_Store
.envrc

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

talos/talsecret.yaml
talos/clusterconfig/
