---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: portainer
  namespace: flux-system
spec:
  chart:
    spec:
      chart: portainer
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: portainer
        namespace: flux-system
      version: 2.33.4
  interval: 1m0s
  releaseName: portainer
  targetNamespace: portainer
  upgrade:
    crds: CreateReplace
    disableWait: true
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    env:
      - name: TRUSTED_ORIGINS
        value: portainer.ytaya.site
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations: {}
      hosts:
        - host: portainer.ytaya.site
          paths:
            - path: /
              pathType: Prefix
      tls: []
    persistence:
      enabled: true
      size: "11Gi"
      storageClass: longhorn
      # existingClaim: portainer-volume #

